table {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 10px;
}

table td,
table th {
    text-align: center;
}

table td:nth-child(4) {
    color: green;
    font-weight: 1000;
}

.upcoming-trips-table td:nth-child(2)::after {
    content: "%";
    padding-left: 5px;
}

table td:first-child {
    font-weight: 1000;
}

table thead {
    border-bottom: white !important;
    opacity: 1 !important;
}

table tr:not(:last-child) {
    border-bottom: 1.5px solid var(--danger);
}

.new-driver-form {
    background-color: white;
    display: none;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    overflow: auto;
}

.driver-popup-page {
    background-color: rgba(255, 255, 255, 0.758);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.driver-popup-page > div{
    background-color: white;
    box-shadow: 0 0 20px gray;
    width: 90%;
    border: 1px solid gray;
}